<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-100 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Custom Form</div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-4 sm:mt-0">
                        <!-- Create button -->
                        <a
                            mat-flat-button
                            [color]="'primary'"
                            (click)="onCreateClicked()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Create Form</span>
                        </a>
                    </div>
                </div>
                <ng-container>
                    <div class="p-6 md:p-8 space-y-8" *ngIf="items && (items.length > 0); else noItems">

                        <table
                            class="w-full"
                            mat-table
                            [dataSource]="formManagerDataSource">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let el">{{ el.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="columnLength">
                                <th mat-header-cell *matHeaderCellDef>Total Field</th>
                                <td mat-cell *matCellDef="let el">{{ el.columnLength }}</td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef>Description</th>
                                <td mat-cell *matCellDef="let el" class="description-cell" matTooltip="{{ el.description }}">
                                  {{ el.description }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Action</th>
                                <td mat-cell *matCellDef="let el">
                                    <button class="circle-icon-button" mat-icon-button (click)="onDelete(el)" [@buttonAnimation]="animateState">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                    <button class="circle-icon-button" mat-icon-button (click)="onEdit(el)" [@buttonAnimation]="animateState">
                                      <mat-icon>edit</mat-icon>
                                    </button>
                                    <a routerLink="../form-builder/{{ el.id }}" class="circle-icon-button" mat-icon-button  [@buttonAnimation]="animateState">
                                      <mat-icon>add</mat-icon>
                                    </a>
                                  </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="formManagerTableColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns:formManagerTableColumns"></tr>
                        </table>
                        <mat-card-content>
                            <mat-card-footer></mat-card-footer>
                        </mat-card-content>
                    </div>
                </ng-container>
                <!-- No items template -->
                <ng-template #noItems>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-24"
                            [svgIcon]="'heroicons_outline:folder-open'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no items!</div>
                    </div>
                </ng-template>

            </div>
        </mat-drawer-content>

    </mat-drawer-container>
</div>
