<p-orderList [value]="formManager" [listStyle]="{ 'max-height': '30rem' }" header="Pasien : {{ nmPasien }} {{ noRkmMedis }}" filterBy="name" filterPlaceholder="Cari Formulir">
    <ng-template let-formManager pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-column gap-2">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-tag text-sm"></i>
                    <span (click)="hideDialog()" [routerLink]="['../../apps/file-manager/formulir', formManager.id , noRawat, noRkmMedis]">{{ formManager.name }}</span>
                </div>
            </div>
        </div>
    </ng-template>
</p-orderList>
