<div class="flex flex-col flex-auto p-6 md:p-8">

    <!-- Close button -->
    <div class="flex items-center justify-end">
        <a
            mat-icon-button
            [routerLink]="['../../']">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </a>
    </div>

    <div class="flex flex-col gt-xs:flex-row">
        <!-- Name & Type -->
        <div class="flex flex-col items-start mt-8">
            <div class="text-xl font-medium">{{item.name}}</div>
        </div>

        <!-- Description -->
        <div class="flex items-center justify-between mt-8">
            <div class="text-lg font-medium">Description</div>
        </div>
        <div class="flex mt-2 border-t">
            <div class="py-3">
                <ng-container *ngIf="item.description">
                    <div>{{item.description}}</div>
                </ng-container>
                <ng-container *ngIf="!item.description">
                    <div class="italic text-secondary">Click here to add a description</div>
                </ng-container>
            </div>
        </div>
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-xs:pr-3 w-full">
            <mat-label>Pilih Nama pasien</mat-label>
            <mat-select [placeholder]="'Pilih Nama Pasien'" [(ngModel)]="selectedPasien" name="pasienId" required>
                <mat-option *ngFor="let option of patients" [value]="option.noRkmMedis">{{ option.nmPasien }}</mat-option>
            </mat-select>
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        </mat-form-field>
        <!-- Actions -->
        <div class="flex w-full">
            <button type="button"
                class="flex-auto"
                mat-flat-button
                [color]="'primary'" (click)="makeEsign({ formulirId: item.id, pasienId: selectedPasien })">
                Buat E-Sign
            </button>
        </div>
    </div>
</div>

