<!-- Note: I'm assuming you want to iterate over the formFields in your template -->
<div class="flex flex-col flex-auto p-6 md:p-8">
    <!-- Close button -->
    <div class="flex items-center justify-end">
      <a mat-icon-button [routerLink]="['../']">
        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
      </a>
    </div>

    <div class="flex flex-col gt-xs:flex-row">
      <!-- Name & Type -->
      <form [formGroup]="form" class="flex flex-col p-8 pb-4 rounded-2xl overflow-hidden">
        <div class="flex flex-col gt-xs:flex-row">
          <mat-form-field class="w-full">
            <mat-label>New Field Label</mat-label>
            <input matInput formControlName="newFieldLabel">
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
            <mat-error>Label Required</mat-error>
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>New Field Type</mat-label>
            <mat-select formControlName="newFieldType">
                <mat-option *ngFor="let typeOption of typeOptions" [value]="typeOption">{{ typeOption }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="w-full" *ngIf="shouldShowOptionField()">
                <mat-label>New Option Field</mat-label>
                <input matInput formControlName="newOptionField">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
            </mat-form-field>
        </div>

          <mat-form-field class="w-full">
            <mat-label>New Field Validation</mat-label>
            <mat-select formControlName="newFieldValidation">
              <mat-option *ngFor="let validationOption of validationOptions" [value]="validationOption">{{ validationOption }}</mat-option>
            </mat-select>
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
          </mat-form-field>

          <div class="flex justify-end mt-8">
            <button class="w-full" mat-flat-button [color]="'primary'" type="button" (click)="addField()">
              Tambah Data
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
